@font-face {
    font-family: "norse";
    src: url("./assets/font/Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: 'norse', Courier, monospace;
    font-size: x-large;
}

.main {
    display: flex;
    
}

.left-section {
    background-image: url("./assets/imgs/wil-stewart-T26KCgCPsCI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    color: black;
    background-color: rgba(240, 240, 240, 0.5);
}

.newton {
    width: 200px;
    height: 200px;
}

.left-title {
    font-size: 60px;
}


.right-section {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    background-color: rgb(20, 20, 20);
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 20px;
    
}

.form-content .input {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-right: 30px;
}

.bttn {
    margin-bottom: 10px;   
}

.bttn button {
    text-decoration: none;
    font-family: "norse";
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,1);
    border: 2px solid violet;
    border-radius: 15px;
    cursor: pointer;
}

.bttn button:hover {
    background-color: rgba(20,20,20,0.2);
    transform: scale(1.05);
}


.custom-padding {
    padding-left: 20px;
}

@media (width: 800px)
{
  body
   {
    display: flex;
    flex-direction: column;
   }

   .left-section {
    width: 100vw;
    height: auto;
   }

   .right-section {
    width: 100vw;
    height: auto;
   }
}